body{
    background: url('./assets/background-biscoito.jpg') no-repeat top center/cover;
}

.container{
    display: flex; /* inline */
    flex-direction: column; /* fica um abaixo do outro*/
    width: 100%; /* pega 100% da tela*/
    justify-content: center; /* centraliza tela */
    align-items: center; /* centraliza itens*/
}

#biscoito{
    width: 300px;
    height: 300px;
    margin-top: 50px;
}

#textoFrase{
    font-style: italic;
    color: #DD7B22;
    text-align: center;
    width: 400px;
    height: 400px;
}

.botao{
    border: solid 1px #DD7B22;
    border-radius: 20px;
    color: white;
    background-color: #DD7B22;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
    background-color: DD7B22;
    color: white;
    transform: scale(1.2)
}